.homeView {
  height: 90vh;
  width: 100%;
  background-image: url(../images/wall.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;

  
}

.titleHome {
    color: rgb(75, 63, 42);
}