@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');

body {
    background-color: rgb(32, 32, 32);
    font-family: 'Mea Culpa', cursive;
}

h1 {
    font-size: 45px;
	line-height: 40px;
	font-weight: 500;
	color: wheat;
	text-shadow: 2px 2px 5px rgb(255, 124, 1);
    text-align: center;
}

h2 {
    font-size: 35px;
	line-height: 40px;
	font-weight: 500;
	color: wheat;
	text-shadow: 2px 2px 5px rgb(255, 124, 1);
    text-align: center;
    border-top: 1px solid wheat;
    padding: 20px;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

input {
    display: flex;
    width: 220px;
	font-size: 25px;
	padding: 5px;
	margin-bottom: 20px;
	outline: none;
	border: 2px solid wheat;
	border-radius: 20px;
    font-family:inherit;
}

input :active {
	box-shadow: 2px 3px 10px 2px rgb(255, 124, 1);
     transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: linear;
    transition-delay: 0;
}

label {
    font-size: 25px;
	line-height: 40px;
	font-weight: 500;
	color: wheat;
	text-shadow: 2px 2px 5px rgb(255, 124, 1);
    text-align: center;
}


