/* .headerBackground {
    background-image: url("../../images/fellowship.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
   
} */

.headerPositioning{
 display: flex;
 justify-content: space-between;
 align-items: center;
}

@media screen and (max-width: 670px) {
   .headerPositioning { 
       flex-direction: column;
    }
}